<!DOCTYPE html>
<html>
  <head>
    <script async="true" data-main="javascripts/client-app" src="requirejs/require.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="client-log" type="button" class="btn btn-primary">Log client</button>
    <button id="server-log" type="button" class="btn btn-primary">Log server</button>
  </body>
</html>
